{% extends 'base.html' %} {% block content %}
<section class="search mt-5">
  <div class="container">
    <div class="row">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Password</label>
          <input
            type="text"
            class="form-control"
            id="inputPassword2"
            placeholder="enter code"
          />
        </div>
        <button type="submit" class="btn mb-2">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
</section>

<section class="table mt-2">
  <div class="container">
    <div class="row">
      <table class="table table-striped table-hover">
        <thead class="thead table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">code</th>
            <th scope="col">patient Name</th>
            <th scope="col">Doctor name</th>
            <th scope="col">Exam time</th>
            <th scope="col">Price</th>
            <th scope="col" class="operation">operation</th>
            <th scope="col">
              <a href="additions/ticketfrorm.html"
                ><i class="fa-solid fa-plus"></i
              ></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <button type="submit" class="btn mb-2">
                <i class="fa-solid fa-pen"></i>
              </button>

              <button type="submit" class="btn mb-2 delete">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <button type="submit" class="btn mb-2">
                <i class="fa-solid fa-pen"></i>
              </button>

              <button type="submit" class="btn mb-2 delete">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>
              <button type="submit" class="btn mb-2">
                <i class="fa-solid fa-pen"></i>
              </button>

              <button type="submit" class="btn mb-2 delete">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
